<div class="static-container">
    <div class="topsection-wrapper">
        <div class="topsection-title">{{topSection.title}}</div>
        <div class="topsection-description">{{topSection.description}}</div>
        <button type="button" class="topsection-button">{{topSection.buttonText}}</button>
    </div>
</div>
<div class="static-container unwanted-space">
    <div class="bottomsection-wrapper">
        <div class="bottomsection-title">{{bottomSection.title}}</div>
        <div class="bottomsection-description">{{bottomSection.description}}</div>
        <button type="button" class="bottomsection-button">
            {{bottomSection.buttonText}}
            <img alt="Arrow" class="chevron-icon" src="../../assets/public/arrow-down.svg"/>
        </button>
    </div>
</div>

